version: "3.8"

services:
  mongo:
    image: mongo:6.0
    container_name: dd-mongo-compose
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_DATABASE: dd_db

  backend:
    image: sohams-backend-local:latest
    container_name: backend-compose
    restart: unless-stopped
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017/dd_db
      - PORT=8080
    expose:
      - "8080"

  frontend:
    image: sohams-frontend-local:latest
    container_name: frontend-compose
    restart: unless-stopped
    depends_on:
      - backend
    expose:
      - "80"

  nginx:
    image: nginx:stable-alpine
    container_name: nginx-compose
    restart: unless-stopped
    depends_on:
      - frontend
      - backend
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"

volumes:
  mongo_data:
